h1 {
  color: darkviolet;
  font-family: 'Roboto Slab', serif;
}
h2 {
  color: darkviolet;
  font-family: 'Roboto Slab', serif;
}
h3 {
  color: darkviolet;
  font-family: 'Roboto Slab', serif;
}
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12;
}
.topicsList .topic {
    font-family: 'Roboto Slab', serif;
    line-height: 40px;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 2px 80px;
    background-position: left 100%;
    background-position-y: 100%;
    background-image: url(images/topicProgress.png);
    border-bottom: 1px solid darkviolet;
    -webkit-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
.topicsList .topic {
    font-family: 'Roboto Slab', serif;
    line-height: 40px;
    font-size: 15px;
    padding-left: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 2px 80px;
    background-position: left 100%;
        background-position-y: 100%;
    background-image: url(images/topicProgress.png);
    border-bottom: 1px solid darkviolet;
    -webkit-transition-property: background-position;
    transition-property: background-position;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
/* -----------div tips------------- */

div.puzzle, div.fyi, div.code, div.note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }
  
div.puzzle {
  background-image: url("div-icons/Your-turn.png");
}

div.fyi {
 background-image: url("div-icons/fyi.png");
}

div.code {
  background-image: url("div-icons/Live-code.png");
}

div.note {
  background-image: url("div-icons/Lightbulb.png");
}